# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment & Credentials
.env
.env.*
*.key
*.pem
*.json
!package.json
!package-lock.json
!tsconfig.json

# Build & Private Docs
dist
build
coverage
docs/
**/docs/
INTERVIEW.md
interview.md
*interview*
*Interview*
*INTERVIEW*
materials/
material/
*.private
private/

# Temporary files
tmp
temp.js
/uploads/

# IDE & OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
